* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}



body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.wrapper {
    padding: 14px 120px 17px;
}
.header{
    padding: 14px 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    margin-right: 286px;
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 114%;
}

.activ {
    position: relative;
}

.activ::after {
    content: "";
    position: absolute;
    background-image: url(images/img_svg/header-arrow.svg);
    top: 2px;
    right: -20px;
    width: 14px;
    height: 14px;
}

.header__item:last-child {
    margin-left: 30px;
    
}

.header__btn {
    padding: 14px 20px;
    color: var(--main-03-b-2-a-5, #03B2A5);
    text-align: center;
    border-radius: 4px;
    background: #E3F5F5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}