

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* font-family: 'Open Sans', sans-serif; */
    color: var(--text-primary, #333);
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    border-bottom: 2px solid #EFF5FB;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 76px;
}

.header__list {
    margin-right: 286px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    line-height: 114%;
}
.header__item{
    transition: all 0.4s;
    padding: 15px 0 14px;
    position: relative;
}
.header__item::before{
    content: '';
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #1C62CD;
    height: 3px;
    bottom: -2px;
    transition: all .3s;
}
.header__item:hover::before{
    width: 100%;
    right: auto;
    left: 0;
}

.heder__link {
    color: inherit;

}

.activ {
    position: relative;
}

.activ::after {
    content: "";
    position: absolute;
    background-image: url(images/img_svg/header-arrow.svg);
    top: 2px;
    right: -20px;
    width: 14px;
    height: 14px;
}

.header__item:last-child {
    margin-left: 30px;

}

.header__btn {
    padding: 14px 20px;
    color: var(--main-03-b-2-a-5, #03B2A5);
    text-align: center;
    border-radius: 4px;
    background: #E3F5F5;
    font-weight: 700;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

/* ========================== */

.bread-crumbs__list {
    display: flex;
    margin-top: 16px;
    margin-left: 6px;
    color: rgba(51, 51, 51, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.bread-crumbs__item {
    cursor: pointer;
}

.bread-crumbs__item-activ {
    position: relative;
    margin-right: 28px;
    cursor: pointer;
}

.bread-crumbs__item-activ::after {
    content: '';
    right: -13px;
    top: 4px;
    position: absolute;
    width: 6px;
    height: 12px;
    background-image: url(/images/img_svg/main-arrow-right.svg);
}

.wrapper__flex {
    display: flex;
    justify-content: space-between;
}

.hero__title {
    max-width: 690px;
    margin-top: 54px;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.hero__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #494949;
}

.text-color {
    color: #494949;
}

.hero__img-block {
    margin: 24px 0 24px;
}

.hero__img-block img {
    max-width: 690px;
}

.descr__title {
    font-weight: 700;
    line-height: 24px;
}

.descr__list {
    margin-bottom: 24px;
}

.descr__item,
.descr__item-text {
    position: relative;
    max-width: 556px;
    margin-left: 33px;
    text-decoration-line: underline;
}


.descr__item::before {
    content: '';
    position: absolute;
    background-image: url(images/img_svg/green-dot.svg);
    width: 24px;
    height: 24px;
    top: 0;
    left: -33px;
}

.top__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
}

.top__text {
    max-width: 690px;
    margin-bottom: 40px;
}

.top__quote {
    padding: 34px 24px 24px 24px;
    max-width: 690px;
    border-radius: 16px;
    background: var(--blue-b-80, #F3F7FE);
    margin-bottom: 24px;
}

.top__quote-text {
    position: relative;
    font-style: italic;
    margin-bottom: 8px;
}

.top__quote-text::after {
    content: '';
    position: absolute;
    background-image: url(images/img_svg/quote.svg);
    width: 56px;
    height: 36px;
    top: -8px;
    left: 0;
}

.top__quote-span {
    font-weight: 700;
}

.what-else__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
}

.what-else__list {
    margin-bottom: 8px;
    max-width: 658px;
}

.what-else__item {
    position: relative;
    margin-bottom: 16px;
    margin-left: 32px;
}

.what-else__item::before {
    content: '';
    position: absolute;
    background-image: url(images/img_svg/green-dot.svg);
    width: 24px;
    height: 24px;
    top: 0;
    left: -33px;
}

.what-else__img-block {
    margin-bottom: 16px;
}

.what-else__img-block img {
    max-width: 690px;
}

.what-else__img-text {
    color: #868686;
    line-height: 130%;
    margin-bottom: 24px;
}

.what-else__items {
    max-width: 691px;
}

.what-else__item1,
.what-else__item3 {
    margin-bottom: 24px;
}

.what-else__item2 {
    background-image: url(images/img_svg/background.svg);
    background-repeat: no-repeat;
    /* position: relative; */
    max-width: 485px;
    text-align: center;
    font-style: italic;
    margin-bottom: 24px;
    margin-left: 102px;

}

/* .what-else__item2::after{
    content: '';
    position: absolute;
    width: 240px;
    height: 168px;
    top: -36px;
    left: 100px;
    background-image: url(images/img_svg/background.svg);
} */
.what-else__item4 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.what-else__item4-img img {
    max-width: 282px;
}

.what-else__item5 {
    margin-bottom: 24px;
}

.execise-1,
.execise-2,
.execise-3 {
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 24px;
    max-width: 690px;
}

.execise-1 {
    background: var(--status-yellowe-white, #FEFAEC);
}

.execise-2 {
    background: var(--status-orange-white, #FFF3EB);
}

.execise-3 {
    background: rgba(3, 178, 165, 0.1);
}

.item6__title {
    font-weight: 700;
    margin-bottom: 8px;
}

.what-else__item7 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.what-else__item7-info {
    max-width: 386px;
}

.what-else__item7-img {
    max-width: 281px;
}

.what-else__item8 {
    max-width: 691px;
    margin-bottom: 24px;
}

.what-else__item10 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.item10__img {
    max-width: 333px;
}

.item11__info {
    max-width: 333px;
}

.what-else__item11 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.svg {
    margin-left: 256px;
    margin-bottom: 24px;
}

.what-else__item12 {
    max-width: 691px;
    margin-bottom: 24px;
}

.execise-span {
    position: relative;
    color: #2963A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 16px;
}

.execise-span::after {
    position: absolute;
    content: '·';
    right: -13px;
    top: -2px;
}

.what-else {
    padding-bottom: 48px;
}

.item-1 {
    max-width: 282px;
    border-radius: 16px;
    background: var(--blue-b-95, #E6F0FD);
    padding: 24px;
    margin-top: 70px;
    margin-bottom: 24px;
}

.item-1__img {
    margin-bottom: 24px;
    width: 100%;
}

.item-1__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 11px;
}

.item-1__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
}

.card-btn {
    width: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.item-2 {
    padding: 16px 16px 36px 16px;
    max-width: 282px;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    margin-bottom: 28px;
}

.item-2__img-block {
    position: relative;
    text-align: center;
}

.item-2__img {
    border-radius: 50%;

}

.item-2__icon {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: rgba(243, 244, 248, 0.70);
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.icon1 {
    max-width: 107px;
    margin-bottom: 8px;
    position: absolute;
    content: '';
    top: -6px;
    left: 0;

}

.icon2 {
    max-width: 74px;
    position: absolute;
    content: '';
    top: 22px;
    left: 0;
}

.item-2__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.item-2__subtitle {
    text-align: center;
    font-weight: 600;
    margin-bottom: 4px;
}

.item-2__desr {
    text-align: center;
    margin-bottom: 16px;

}

.item-2__span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #A2A7B1;
}

.about__list {
    margin-left: 40px;
    margin-bottom: 20px;
}

.item-2__about {
    border-top: 1px solid #DEDEDE;
}

.about__title {
    margin-bottom: 8px;
    font-weight: 700;
    margin-top: 8px;
}

.about__item {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}

.about__item::before {
    content: '';
    position: absolute;
    background-image: url(images/img_svg/green-dot.svg);
    width: 24px;
    height: 24px;
    top: 0;
    left: -33px;
}

.item-3 {
    margin-bottom: 42px;
}

.item-4 {
    position: relative;
    border-radius: 24px;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 30px 50px 0px #EFF5FB;
    padding: 32px;
}

.item-4__img-block {
    position: absolute;
    bottom: 0;
    right: 0;
}

.item-4__title {
    font-family: Open Sans;
    color: #2963A3;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}

.item-4__text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
    max-width: 196px;
}

.item-4__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
}

.item-4__btn {
    max-width: 108px;
}

.question {
    position: relative;
    margin-bottom: 82px;
    border-top: 1px solid #DEDEDE;
    padding-top: 72px;
}

.question::after {
    position: absolute;
    content: '';
    background-image: url(images/img/question-img.png);
    width: 520px;
    height: 330px;
    top: 72px;
    right: 0;

}

.question__title {
    max-width: 348px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 24px;
}

.question__text {
    max-width: 327px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.question__btn {
    width: auto;
    padding: 20px 24px;
    font-weight: 700;
    color: white;
    text-align: center;
    border-radius: 4px;
    background: #16C8BB;
}

.blocquote {
    max-width: 556px;
    padding: 16px;
}

.blocquote-mini {
    max-width: 368px;
}

.footer {
    padding: 40px 0 17px;
    background: #2963A3;
    color: white;
    color: #FFF;

}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(157, 157, 157, .3);
    margin-bottom: 16px;
    gap: 20px;
}

.footer-columns__inner {
    display: flex;
    gap: 93px;
}

.footer__item-3 {
    max-width: 486px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    max-width: 384px;
    padding: 14px 16px;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20)
}

input::placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #9D9D9D;
}


.footer__text {
    font-size: 18px;
    line-height: 26px;
    max-width: 356px;
}

.footer__agreement {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    opacity: 0.7;
}

.footer-item__list {
    margin-bottom: 34px;
}

.footer-item__item {
    font-weight: 700;
    margin-bottom: 16px;
}
.form{
    display: flex;
    align-items: center;
    max-width: 384px;
    
}

.footer-item__link {
    color: inherit;
}

.footer__logos {
    margin-bottom: 40px;
}

.footer__social {
    display: flex;
    gap: 16px;
}

.footer__bottom {
    display: flex;
    justify-content: start;
    gap: 48px;
}

.documents-pay__link {
    margin-right: 48px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
}


/* ======================= */

@media (max-width: 1200px) {
    .header__list {
        margin-right: 0;
    }

    .footer-columns__inner {
        display: flex;
        gap: 30px;
    }

    .footer__item-3 {
        max-width: 450px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }

    .header__list {
        margin-right: 20px;
        margin-left: auto;
        gap: 16px;
    }

    .hero__img-block img {
        max-width: 714px;
    }

    .what-else__img-block img {
        max-width: 714px;
    }

.item10__img {
    max-width: 345px;
}
    .aside,
    .item-3__img {
        max-width: 222px;
    }

    .footer {
        padding: 40px 0 17px 0;
    }

    .footer__wrapper {
        padding-bottom: 26px;
    }
}

@media (max-width: 996px) {
    .margin {
        margin-right: 100px;
    }

    .wrapper__flex {
        display: block;
    }
}

@media (max-width: 880px) {

    .header__list,
    .header__btn {
        display: none;
    }

    .burger-menu {
        display: block;
        margin-right: 20px;
    }

    .wrapper__flex {
        display: block;
    }

    .aside {
        width: 222px;
    }

    .margin {
        margin-right: 0px;
    }

}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .header {
        min-height: 76px;
    }

    .what-else__img-block img {
        max-width: 728px;
    }

    what-else__item4-img {
        max-width: 294px;
    }

    .what-else__item7-img {
        max-width: 294px;
    }
    .item10__img {
        max-width: 354px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 356px);
    }

    .footer__wrapper {
        display: flex;
        flex-wrap: wrap;

    }

    footer__item-3 {
        max-width: 450px;
    }

    .margin {
        margin-right: -10px;
    }

}
@media (max-width:680px) {
    .footer__bottom {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 414px) {

    .header__nav {
        min-height: 72px;
        padding: 0 4px;
    }

    .header__logo svg {
        width: 48px;
        height: 34px;
    }

    .hero__img-block img {
        max-width: 374px;
    }

    .what-else__img-block img {
        max-width: 374px;
    }

    .what-else__item4-img {
        max-width: 374px;
    }

    .what-else__item7-img {
        max-width: 374px;
    }
    .item10__img {
        max-width: 374px;
    }

    .footer__wrapper {
        flex-direction: column;
        padding: 14px 18px;
    }

    .footer-columns__inner {
        justify-content: space-between;
    }

    
}


@media (max-width: 320px) {
    .what-else__img-block img {
        max-width: 288px;
    }

    .what-else__item7-img {
        max-width: 288px;
    }
}